.navDiv{
    margin: 5px 15px 25px 15px;
    padding: 15px;
    /* background-color: #ffefe4; */
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    box-shadow: 5px 2px 5px rgb(110, 110, 110);
  }
  
  .play {
      background-color: #4CAF50;
      /* background-color: #8d8d8d; */
      border: none;
      color: white;
      padding: 12px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 18px;
      margin: 4px 2px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
  
    .play {
      /* background-color: rgb(67, 104, 255);  */
      /* background-color: white;  */
      background-color: #f6efeb; 
      color: black; 
      margin-top: 13px;
      margin-left: 25px;
      /* color: rgb(86, 86, 86);  */
      /* border: 2px solid #4CAF50; */
    }
    
    .play:hover { 
      background-color: #c8f4cd;
      /* box-shadow: 3px 1px 7px rgb(86, 86, 86); */
      box-shadow: 7px 10px 20px -7px rgb(86, 86, 86);
    }

    
    input[type=text].numVal {
      width: 80%;
      height: 50px;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid #ccc;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      outline: none;
      font-size: 15px;
    }
    
    input[type=text]:focus {
      border: 2px solid #555;
      background-color: rgba(230, 230, 230, 0.493);
      /* box-shadow: 3px 3px 7px -1px rgb(86, 86, 86);   */
      /* box-shadow: 10px 10px 14px -2px rgb(86, 86, 86); */
    }
  
    input[type=text]:hover {
      /* border: 2px solid #555; */
      /* background-color: rgb(233, 233, 233); */
      
      box-shadow: 3px 3px 7px -1px rgb(86, 86, 86);  
  
      /* box-shadow: 10px 10px 14px -2px rgb(86, 86, 86); */
  
      /* box-shadow: 0 5px 10px -3px rgba(14,13,26,.12),0 3px 16px 2px rgba(7,48,114,.12),0 8px 12px 1px rgba(34,0,51,.04); */
    }
  